.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --primary-text-color: #2e2f42;
  --address-text-color: #434455;
  --btn-background-color: #f4f4fd;
  --btn-border-color: #e7e9fc;
  --logo-text-color: #4d5ae5;
  --text-hover-header: #404bbf;
  --background-footer-color: #2e2f42;
  --heading-title-color: #ffffff;
  --company-icon-color: #8e8f99;
  --footer-color-item: #31d0aa;
  --backdor-color-backround: #fcfcfc;
}

/* Reset */
html {
  box-sizing: border-box;
}
img {
  display: block;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0px;
  padding: 0px;
}

/* Global teg */
.container {
  width: 100%;
  max-width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
}

.section-subtitle {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary-text-color);
}
.section-paragraph {
  color: var(--address-text-color);
}
.section-footer {
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: var(--primary-text-color);
}
.footer-paragraph {
  color: var(--btn-border-color);
}
/* Header */
.header-lin {
  border-bottom: 1px solid var(--btn-background-color);
}
.header {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.address-list {
  display: flex;
}
.address-item:not(:last-child) {
  margin-right: 40px;
}
.site-nav-item:not(:last-child) {
  margin-right: 40px;
}
.address {
  margin-left: auto;
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.logo-web {
  color: var(--logo-text-color);
}
/* Nav */
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: var(--primary-text-color);
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: "";
  position: absolute;
  background: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
}
.nav-link.current,
.nav-link:hover,
.nav-link:focus {
  color: var(--text-hover-header);
}
.address-link {
  font-style: normal;
  color: var(--address-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--text-hover-header);
}
/* Hero */
.futures-list-item::before {
  content: "";
  margin-bottom: 8px;
  display: block;
  height: 112px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f4f4fd;
  border-radius: 4px;
}
.icon-anten::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diogram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.hero-secrion {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  max-width: 1440px;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  width: 496px;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;

  color: var(--heading-title-color);
}
/* btn */
.btn-item:not(:last-child) {
  margin-right: 24px;
}
.btn {
  letter-spacing: 0.04em;
  background: var(--btn-background-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 4px;
  font-weight: 500;
  color: var(--logo-text-color);
  padding: 12px 24px 12px 24px;
  cursor: pointer;
  transition-property: background-color, border, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background: var(--text-hover-header);
  border: 1px solid var(--text-hover-header);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--heading-title-color);
}
.btn-studio {
  animation: both;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--logo-text-color);
  border: 1px solid var(--logo-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--heading-title-color);
  padding: 16px 32px 16px 32px;
  font-weight: 500;
  cursor: pointer;
}
.btn-studio:hover,
.btn-studio:focus {
  background: var(--text-hover-header);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Section Futures */
.futures-list {
  display: flex;
}
.futures-list-item:not(:last-child) {
  margin-right: 24px;
}
.futures-list-item {
  width: 264px;
}

/* we doing */
.section-wedoing {
  padding-bottom: 120px;
}

.wedoing-list {
  display: flex;
  gap: 24px;
}
/* Our Team */
.section-ourteam {
  background: var(--btn-background-color);
}
.workers-list {
  display: flex;
  gap: 24px;
}
.workers-item {
  background: var(--heading-title-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section-decr {
  padding-bottom: 32px;
  padding-top: 32px;
  text-align: center;
}
/* deeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
.messenger-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.messenger-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.messenger-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--logo-text-color);
}
.messenger-item:not(:last-child) {
  margin-right: 24px;
}
.messenger-link:is(:hover, :focus) {
  background: var(--text-hover-header);
}

.company-list {
  display: flex;
  gap: 24px;
}
.company-item {
  width: 168px;
  height: 88px;
}
.company-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--company-icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--company-icon-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-company {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.company-link:is(:hover, :focus) {
  border-color: var(--text-hover-header);
}
.company-link:is(:hover, :focus) .icon-company {
  fill: var(--text-hover-header);
}

/* Portfolio */
.section-photo {
  padding-top: 96px;
  padding-bottom: 120px;
}
.photo-list {
  display: flex;
  flex-wrap: wrap;
}
.photo-item {
  margin-right: 24px;
  margin-bottom: 48px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.photo-item:hover .photo-wrap-item {
  transform: translateY(0);
}
.photo-wrap {
  position: relative;
  overflow: hidden;
}
.photo-wrap-item {
  position: absolute;
  top: 0;
  padding: 40px 32px 164px 32px;
  height: 100%;
  background-color: var(--logo-text-color);
  line-height: 1.5;
  color: var(--btn-background-color);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-item:nth-child(3n) {
  margin-right: 0;
}
.photo-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.photo-desc {
  background: var(--heading-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--btn-border-color);
  border-top: 0;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.photo-link {
  display: block;
}
.photo-item:hover,
.photo-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* footer */
.logo-footer {
  display: block;
  margin-bottom: 16px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  color: var(--btn-background-color);
  text-transform: uppercase;
}
.footer-paragraph {
  width: 100%;
  max-width: 264px;
}
/* footer-icon */
.footer-icon-title {
  font-weight: 500;
  line-height: 1.5;
  color: var(--heading-title-color);
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.footer-desc {
  margin-right: 120px;
}

.footer-icon-title {
  margin-bottom: 16px;
}
.messenger-footer-list {
  display: flex;
}
.messenger-footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.messenger-footer-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.messenger-footer-item:not(:last-child) {
  margin-right: 16px;
}
.messenger-footer-link:is(:hover, :focus) {
  background: var(--footer-color-item);
}
/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  background: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.btn-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: var(--btn-border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:hover {
  background-color: var(--text-hover-header);
  fill: var(--btn-border-color);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding: 24px;
  background: var(--backdor-color-backround);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*---------------------------------------- Input--------------------------------------------------/ */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 20px;
  margin-bottom: 16px;
  
}
.modal-form-input{
  outline: transparent;
}
.modal-form-input:focus {
  
  border-color: var(--logo-text-color);

}
 

.modal-form-input:focus + .icon-form-modal{
  fill: var(--logo-text-color);
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.form-field label {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.01em;
  color: #8e8f99;
}
.form-field input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px;
  padding-left: 30px;
}

.textarea {
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
  
  outline: transparent;
}
.textarea:focus{
  border-color: var(--logo-text-color);
}
/* ----------------------------------check-text -----------------------------------*/
.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.04em;
  color: var(--company-icon-color);
  display: flex;
  align-items: center;
  
}
.modal-label{
  margin-top: 8px;
  margin-bottom: 4px;
}
.check-text span{
  width: 16px;
  height: 16px;
  border: 1px solid var(--background-footer-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-checkbox:checked + .check-text > span{
  background-color: var(--text-hover-header);
  fill: var(--btn-background-color);
}
.btn-modal-form {
  margin-top: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: var(--logo-text-color);
  border-radius: 4px;
  padding: 20px 66px;
  letter-spacing: 0.04em;
  color: var(--heading-title-color);
  border-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-form:is(:hover, :focus) {
  background: var(--text-hover-header);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-link {
  margin-left: 3px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--logo-text-color);
}

.textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-input-wrapper {
  position: relative;
}
.icon-input {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}

/* --------------------------------footer-form--------------------------------- */
.footer-title-form{
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var( --heading-title-color);
margin-bottom: 16px;
}
.btn-footer-form{
  background: var(--logo-text-color);
border-radius: 4px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var( --heading-title-color);
border: 1px solid var(--logo-text-color);
padding:8px 24px ;

}
.btn-footer-form:is(:hover, :focus) {
   background-color: var(--text-hover-header);
   border-color: var(--text-hover-header);
}
.input-form-footer{
  width: 264px;
  margin-right: 16px;
  background: transparent;
  border: 1px solid var( --heading-title-color);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
outline: transparent;
padding: 8px 0 8px 16px;
color: var(--heading-title-color);
}
.input-form-footer:focus{
  border: 1px solid var(--logo-text-color);
}
.icon-footer-form{
  margin-left: 16px;
}
.form-footer{
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.group-input{
  display: flex;
}